<section class="py-5">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="mt-0"><i class="mdi mdi-earth gradient"></i></h1>
                    <!-- <h3>The admin is fully <span class="text-primary">responsive</span> and easy to <span
                            class="text-primary">customize</span></h3> -->
                            <h3 class="gradient">Territorial <span>Integration</span></h3>
                    <!-- <p class="text-muted mt-2">The clean and well commented code allows easy customization of the
                        theme.It's designed for
                        <br>describing your app, agency or business.
                    </p> -->
                    <!-- <p class="text-muted mt-2 font-darkgrey">Empowering Your Business with Comprehensive IT Solutions</p> -->
                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-lg-8">
                <div class="card border-none m-1">
                    <div class="card-body p-2">
                        <app-widget-world-map mapId="world-map" height="360px" width="100%" [options]="worldMapConfig">
                        </app-widget-world-map>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="row mt-3 align-middle">
                    <!-- <div class="card bg-gradient border-none">
                        <div class="card-body">
                            <ul class="card-pricing-features">
                                <li *ngFor="let country of countryList">
                                    <img src="{{ country.flag }}" alt="" ngbTooltip="{{country.name}}" width="40">
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="w-75">
                        <h5 class="mb-2 font-16 text-secondary-50 gradient">
                            <i class="mdi mdi-map-marker"></i>
                            Driving Innovation in Businesses Across Continents
                        </h5>
                        <p class="mb-2 font-16  font-darkgrey">
                            From East to West, North to South, 
                            we serve businesses across diverse regions, 
                            driving transformative success stories that resonate globally.
                        </p>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</section>