<!-- NAVBAR START -->
<nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
    <div class="container">

        <!-- logo -->
        <a [routerLink]="'/'" class="navbar-brand me-lg-5">
            <!-- <img src="assets/images/logo.png" alt="" class="logo-dark" height="18" /> -->
            <img src="assets/logo/itdeck-icon.png" alt="" class="logo-dark" height="80" />
            <img src="assets/logo/itdeck-title.png" alt="" class="logo-dark" height="50" />
            <!-- <h2 class="logo-txt">iTDeck</h2> -->
        </a>

        <button class="navbar-toggler text-primary" type="button" (click)="mobileMenuOpen=!mobileMenuOpen"
            [attr.aria-expanded]="mobileMenuOpen" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>

        <!-- menus -->
        <div class="collapse navbar-collapse align-items-end" #collapse="ngbCollapse" [(ngbCollapse)]="!mobileMenuOpen" style="flex-grow: 0 !important;"
            id="navbarNavDropdown">

            <!-- left menu -->
            <ul class="navbar-nav me-auto align-items-end gradient">
                <li class="nav-item mx-lg-1 ">
                    <a class="nav-link active " routerLink="/home" fragment="home">Home</a>
                </li>
                <!-- <li class="nav-item mx-lg-1">
                    <a class="nav-link" routerLink="/about-us" >About us</a>
                </li> -->
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" routerLink="/home" fragment="services">Services</a>
                </li>
                <!-- <li class="nav-item mx-lg-1">
                    <a class="nav-link" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" routerLink="/home">Case Study</a>
                </li> -->
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" routerLink="/faqs" >FAQs</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" routerLink="/home" fragment="contact">Contact</a>
                </li>
            </ul>

            <!-- right menu -->
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item me-0">
                    <!-- <a [routerLink]="['../account/login']"
                        class="btn btn-sm btn-light rounded-pill d-none d-lg-inline-flex" *ngIf="!loggedInUser">
                        Login
                    </a>

                    <a [routerLink]="['../account/logout']"
                        class="btn btn-sm btn-light rounded-pill d-none d-lg-inline-flex" *ngIf="loggedInUser">
                        Logout
                    </a> -->

                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- NAVBAR END -->
