
<!-- HERO -->
<app-landing-hero id="home"></app-landing-hero>

<!-- SERVICES -->
<app-landing-services id="services"></app-landing-services>

<!-- LAYOUTS -->
<app-landing-layouts></app-landing-layouts>

<!--WORLD MAP-->
<app-territorial-integration></app-territorial-integration>

<!-- FEATURES -->
<app-landing-features></app-landing-features>


<!-- FAQ -->
<!-- <app-landing-faq></app-landing-faq> -->

<!-- Clients -->
<app-clients></app-clients>

<!-- CONTACT -->
<app-landing-contact-us id="contact"></app-landing-contact-us>

<!-- FOOTER -->
<app-landing-footer></app-landing-footer>

<!-- Back to Top Button -->
<button [ngClass]="{'back-to-top-btn': true, 'show': showScrollBtn}" class="btn-gradient" (click)="scrollToTop()">
    <i class="mdi mdi-chevron-up"></i>
</button>