/* You can add global styles to this file, and also import other style files */
@import '~@mdi/font/css/materialdesignicons.min.css';

.gradient {
    background: linear-gradient(45deg, #1f4483,#113470) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    // font-family: sans-serif;

}

.btn-gradient {
    background: linear-gradient(45deg,#1f4483,#113470) !important;
    -webkit-background-clip: text;
}

.font-darkgrey{
    color: rgb(70, 68, 68) !important;
}

html {
    scroll-behavior: smooth;
  }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
