<div class="row">
    <div class="col-lg-4 mt-4">
        <div class="card ribbon-box">
            <div class="card-body">
                <div class="row">
                    <img src="/assets/images/attached-files/img-2.jpg" alt="">
                <!-- <div class="ribbon ribbon-success float-end"><i class="mdi mdi-access-point me-1"></i> Success</div> -->
                <h5 class="text-success float-start mt-0">Blog title 1</h5>
                <div class="ribbon-content">
                    <p>Blog description 1</p>
                </div>
                </div>
            </div> <!-- end card-body -->
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="card ribbon-box">
            <div class="card-body">
                <div class="row">
                    <img src="/assets/images/attached-files/img-1.jpg" alt="">
                <!-- <div class="ribbon ribbon-success float-end"><i class="mdi mdi-access-point me-1"></i> Success</div> -->
                <h5 class="text-success float-start mt-0">Blog title 2</h5>
                <div class="ribbon-content">
                    <p>Blog description 2</p>
                </div>
                </div>
            </div> <!-- end card-body -->
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="card ribbon-box">
            <div class="card-body">
                <div class="row">
                    <img src="/assets/images/attached-files/img-3.jpg" alt="">
                <!-- <div class="ribbon ribbon-success float-end"><i class="mdi mdi-access-point me-1"></i> Success</div> -->
                <h5 class="text-success float-start mt-0">Blog title 3</h5>
                <div class="ribbon-content">
                    <p>Blog description 3</p>
                </div>
                </div>
            </div> <!-- end card-body -->
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="card ribbon-box">
            <div class="card-body">
                <div class="row">
                    <img src="/assets/images/attached-files/img-3.jpg" alt="">
                <!-- <div class="ribbon ribbon-success float-end"><i class="mdi mdi-access-point me-1"></i> Success</div> -->
                <h5 class="text-success float-start mt-0">Blog title 4</h5>
                <div class="ribbon-content">
                    <p>Blog description 4</p>
                </div>
                </div>
            </div> <!-- end card-body -->
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="card ribbon-box">
            <div class="card-body">
                <div class="row">
                    <img src="/assets/images/attached-files/img-1.jpg" alt="">
                <!-- <div class="ribbon ribbon-success float-end"><i class="mdi mdi-access-point me-1"></i> Success</div> -->
                <h5 class="text-success float-start mt-0">Blog title 5</h5>
                <div class="ribbon-content">
                    <p>Blog description 5</p>
                </div>
                </div>
            </div> <!-- end card-body -->
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="card ribbon-box">
            <div class="card-body">
                <div class="row">
                    <img src="/assets/images/attached-files/img-2.jpg" alt="">
                <!-- <div class="ribbon ribbon-success float-end"><i class="mdi mdi-access-point me-1"></i> Success</div> -->
                <h5 class="text-success float-start mt-0">Blog title 6</h5>
                <div class="ribbon-content">
                    <p>Blog description 6</p>
                </div>
                </div>
            </div> <!-- end card-body -->
        </div>
    </div>
</div>